<%- include("partials/header.ejs") %>
    <div class="aboutBox">
        <h1>About</h1>
        <p style="margin-top: 2rem;">
            <%= aboutContent %>
        </p>
    </div>


    <%- include("partials/footer.ejs") %>