<%- include("partials/header.ejs") %>
    <div class="contactBox">
        <h1>Contact</h1>
        <p style="margin-top: 2rem;">
            <%= contactContent %>
        </p>
    </div>


    <%- include("partials/footer.ejs") %>