<%- include("partials/header.ejs") %>
    <div class="login">
        <h1 style="text-align: center;">Food Blogging Platform</h1>
        <div class="box">
            <div>
                <img class="burger" src="images\Burger.webp" alt="food" />
            </div>
            <div class="buttons">
                <a href="/register"><button class="register btn btn-success rounded-pill px-3"
                        type="button">Register</button></a>
                <a href="/login"><button class="btn btn-primary rounded-pill px-3" type="button">Login</button></a>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>