<%- include("partials/header.ejs") %>

    <div class="postBox">
        <h1>Add Post</h1>
        <form action="/post" enctype="multipart/form-data" method="POST" class="formPost">
            <div class="form-group mb-3">
                <label for="text">Recipe Name</label>
                <input type="text" class="form-control" name="recipeName">
            </div>
            <div class="mb-3">
                <label class="form-label">Ingredients</label>
                <textarea class="form-control" name="ingredients" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Cooking Steps</label>
                <textarea class="form-control" name="cookingSteps" rows="2"></textarea>
            </div>
            <div class="file mb-3">
                <input type="file" name="file" />
            </div>
            <div class="form-group mb-3">
                <label for="text">Chief Name</label>
                <input type="text" class="form-control" name="chiefName">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>