body {
    background-color: antiquewhite;
}

.homeBox {
    min-height: 95vh;
}

.aboutBox,
.contactBox {
    height: 75vh;
}

a.nav-link {
    color: black;
}

a.nav-link:hover {
    color: blue;
}

.footer {
    background-color: aqua;
}

.footer p {
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
}

.register {
    margin-right: 3rem;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    height: 76vh;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 20rem;
    border-radius: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

form.login,
form.register {
    width: 26rem;
}

/* .addPost {
    display: flex;
    justify-content: end;
} */

.twoButtons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 90%;
    gap: 1rem;
}

.items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.postBox {
    margin-bottom: 2rem;
}

.formPost {
    margin-top: 2rem;
}

.file {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.file>button {
    width: 5rem;
}

img.postedImage {
    width: 30rem;
}

.detail>img {
    width: 13rem;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.item>a {
    text-decoration: none;
    color: black;

}

.item>a>h2:hover {
    color: blue;
}

.item>img {
    width: 15rem;
}

.chief {
    margin-top: 2rem;
}

.loginButton,
.registerButton {
    margin-top: 1rem;
}

.items>.item {
    width: 250px;
}